* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #FAF9F6;
    margin: 0;
}

.circle-button {
    display: block;
    text-align: center;
    padding: 14px 26px;
    align-items: center;
    justify-content: center;
    color: black;
    margin-right: 15px; /* Adjust the margin as needed */
}
.material-icons {  transform: scale(1); }