* { 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(150deg, #72a9e9, #2a275f);
    color: #fff;
    
}
.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5%;
}
#main{
    margin: 2%;
}
#column {
    margin: 2%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

}
.imgDiv
{
    align-items: end;
    margin-right: 0;
}
.txtDiv
{
    align-self: baseline;
    align-items: baseline;
}
.button {
    margin: auto;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 1vh 2vh; 
    border-radius: 1vh;
    background-color: #333cbb;
    color: white;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer; 
    text-decoration: none;
    box-shadow: 2px 4px #202566;
    transition: background-color 0.3s ease;
    margin: 4px 2px;
}
.button:hover {
    background-color: #1a2185;
}
#intro {
    max-width: 200rem;
    text-align: left;
    font-size: 2em;
    text-wrap:wrap;
    
}
img {
    width: 70vh;
    height: auto;
}
h1 {
    font-size: 4em;
    font-weight: 700;
}
h2 {
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 2%;
    color: #1a2185;

}
p{
    font-weight: 300;
    
}
#intro
{
    text-align: justify;
}
.signoff{
    font-style: italic;
}