* { 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(-135deg, #a6bbff, #2f1e77);
    color: #fff;
}
.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 5%;
}
#main{
    margin: 2%;
}
#column {
    margin: 2%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

}
.imgDiv
{
    align-items: end;
    margin-right: 0;
}
.txtDiv
{
    align-self: baseline;
    align-items: baseline;


}
button {
    background-color: #333cbb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 4px #202566;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #1a2185;
}
#intro {
    max-width: 200rem;
    text-align: left;
    font-size: 2em;
    text-wrap:wrap;
    
}
img {
    width: 70vh;
    height: auto;
}
h1 {
    font-size: 4em;
    font-weight: 700;
}
h2 {
    font-size: 3em;
    font-weight: 600;

}
p{
    font-weight: 300;
}