ul{
    
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;        
    justify-content: center;
    z-index: 1000; 
    background-color: rgb(125, 185, 241);
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: rgb(37, 36, 36);
    letter-spacing: 0.5px;
}
li a:not(.exception)
{
    padding: 14px 26px;
}
.exception{
    padding: 5px;
}

li a:hover:not(.active) {
    background-color: #5a5d5f52;
    color: white;
}

.active {
    background-color: #333cbb;
    color: white;
}
#profile-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* To inherit the color from the parent element */
    padding:4%;
    width: 100%;
}

.exception {
    width: 35px;
    height: 35px;
    border-radius: 50%; /* To make the image circular */
    margin-right: 10px; /* Add some space between the picture and the name */
}

.profile-name {
    font-weight: bold;
    font-size: 16px; /* Adjust the font size as needed */
}
